
@{
    ViewBag.Title = "ConfirmarCompra";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="text-center">
    <i class="glyphicon glyphicon-check" style="font-size:100px;"></i>
    <h2 class="text-success">COMPRA CONFIRMADA</h2>
</div>

