@using MvcWeb.Models;

@{
    List<Producto> productocarrito = (List<Producto>)Session["Carrito"];
}
<div class="row">
    <div class="col-12">
        <span class="pull-right m-t-md"> <i class="glyphicon glyphicon-shopping-cart"></i>@Html.ActionLink("Mi carrito","Index","Micarrito") <label class="label label-info"> @productocarrito.Count </label> </span>
    </div>
</div>
