<div class="row">
    <div class="col-12">
        <span class="pull-right m-t-md"> <i class="glyphicon glyphicon-shopping-cart"></i>Mi Carrito <label class="label label-info">0</label> </span>
    </div>
</div>

